.bg_img_main {
    background-image: url(./assets/images/webp/Main.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

/* game hosting */
.bg_img_game_hosting {
    background-image: url(./assets/images/webp/game_hosting_bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.game_hosting_white_circel {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    display: block;
}

.game_hosting_input_bg {
    border-radius: 10.669px;
    background: white;
    padding: 12px;
    outline: none;
}

/* our location */
.our_location_bg_img_black {
    background-image: url("./assets/images/webp/our_location_bg_img_black.webp");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.bg_img_our_location {
    background-image: url(./assets/images/png/our_location_bg_img.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.transform_top_location {
    transform: translateY(200px);
}

.location_img_bottom {
    bottom: -140px;
    left: 200px;
    width: 290px;
}

.pt_20 {
    padding-top: 20px;
}

.z_index_1 {
    z-index: 1;
    top: -20%;
    position: relative;
}

.z_index_minus {
    z-index: -1;
}

/* footer */
.w_457 {
    max-width: 457px;
}

.transform_top_location {
    transform: translateY(200px);
}

.map_h {
    height: 408px;
}

/* newsletter */
.email_input_parent {
    background-color: #212132;
    max-width: 750px;
    border-radius: 10px;
}

.email_input {
    background-color: #212132;
    padding: 22px 8px 22px 0px;
    outline: none;

}

.cursor_pointer {
    cursor: pointer;
}

.transition_6 {
    transition: 0.6s ease-in-out;
}

.app_icon_circel {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #0268FF;
    transition: 0.6s ease-in-out;
}

.app_icon_circel:hover {
    background-color: white;
}

.app_icon_circel:hover path {
    fill: #0268FF;
}

.footer_app:hover {
    transform: translateY(-3px);
}

footer ul li a {
    position: relative;
    transition: 0.6s ease-in-out;
}

footer ul li a:hover {
    color: var(--clr-blue0F4) !important;
}

@media (max-width:991.98px) {
    .w_457 {
        max-width: 100%;
    }

    .btn_clr_newsletter {
        border-radius: 5px;
        background: linear-gradient(27deg, rgba(0, 63, 243, 0.80) 0%, rgba(48, 156, 255, 0.80) 100%), linear-gradient(0deg, #2898FF 0%, #2898FF 100%), #FF604B;
    }
}