.bg_img_main {
    background-image: url(./assets/images/png/Main_hero.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* game hosting */
.bg_img_game_hosting {
    background-image: url(./assets/images/webp/game_hosting_bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.game_hosting_white_circel {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    display: block;
}

.game_hosting_input_bg {
    border-radius: 10.669px;
    background: white;
    padding: 12px;
    outline: none;
}

/* our location */
.our_location_bg_img_black {
    background-image: url("./assets/images/png/our_location_bg_img_black.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.bg_img_our_location {
    background-image: url(./assets/images/png/our_location_bg_img.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.pt_20 {
    padding-top: 20px;
}

/* .mb_46 {
    margin-bottom: 46px;
} */

.z_index_1 {
    z-index: 1;
    top: -20%;
}

.z_index_minus {
    z-index: -1;
}