* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}
@import url(../src/bijender.css);
@import url(../src/ravi.css);
@import url(../src/sukhvinder.css);
/*custom container  */
.custom_container {
  max-width: 1180px !important;
  margin: 0 auto;
  padding: 0 12px;
}
