html {
  overflow-x: hidden;
}
/* background color  */
.bg_popular_button{
  background: linear-gradient(27deg, rgba(0, 63, 243, 0.80) 0%, rgba(48, 156, 255, 0.80) 100%), #2898FF;
}
/* height  */
.h_16 {
  height: 16px;
}
/* width  */
.w_16 {
  width: 16px;
}
.w_40 {
  width: 40px;
}
.mw_730 {
  max-width: 730px;
}
.mw_750 {
  max-width: 750px;
}
.mw_230 {
  max-width: 230px;
}
/* padding  */
.pt_43 {
  padding-top: 43px;
}
.pt_32 {
  padding-top: 32px;
}
.pt_34 {
  padding-top: 34px;
}
.pt_20 {
  padding-top: 20px;
}
.pt_27 {
  padding-top: 27px;
}
.pt_24 {
  padding-top: 24px;
}
.pt_28 {
  padding-top: 28px;
}
.p_25 {
  padding: 25px;
}
.pt_10 {
  padding-top: 10px;
}
.pt_15 {
  padding-top: 15px;
}
.p_32 {
  padding: 32px;
}
.py_16_px_32{
  padding: 16px 32px;
}
.pl_12 {
  padding-left: 12px;
}
.py_34 {
  padding: 34px 0;
}
.px_20_py_12 {
  padding: 20px 12px;
}
.pt_45 {
  padding-top: 45px;
}
.pb_43 {
  padding-bottom: 43px;
}

.pb_30{
  padding-bottom: 30px;
}
.pt_14 {
  padding-top: 14px;
}
.py_32 {
  padding: 32px 0;
}
.py_40 {
  padding: 40px 0;
}
.pt_43 {
  padding-top: 43px;
}
.pt_30 {
  padding-top: 30px;
}
.pt_33 {
  padding-top: 33px;
}
.px_32 {
  padding: 0 32px;
}
.pt_20 {
  padding-top: 20px;
}
/* margin  */
.ml_5 {
  margin-left: 5px;
}
.mr_5 {
  margin-right: 5px;
}
/* max width  */
.mw_647 {
  max-width: 647px;
}
/* boxes  */
.pricing_customer_box {
  border-radius: 15px;
  background: #111116 !important;
  box-shadow: 8px 24px 96px 0px rgba(68, 77, 163, 0.08) !important;
  height: 100%;
}
.border_official_button{
  border: 1px solid rgba(14, 75, 254, 0.55);
}
/* border  */
.border_started_button {
  border: 1px solid #0e4bfe;
}
/* border radius  */
.br_45 {
  border-radius: 45px;
}
.br_10 {
  border-radius: 10px;
}
/* pricing plan section  */
.pp_button {
  background: rgba(132, 160, 232, 0.1);
  padding: 10px 22px;
}
/* button  */
.quote_button {
  border-radius: 90px;
  background: linear-gradient(
      27deg,
      rgba(0, 63, 243, 0.8) 0%,
      rgba(48, 156, 255, 0.8) 100%
    ),
    #2898ff;
  padding: 18px 35px;
}
/* color  */
.pricing_box_secondary_color {
  color: #6e6e71 !important;
}
/* before after  */
.top_bottom_zigzag_img::after {
  content: "";
  position: absolute;
  top: -15%;
  right: -16%;
  background-image: url("./assets/images/png/pricingplan_giggaz_top.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 451px;
  height: 226px;
  z-index: -1;
}
.top_bottom_zigzag_img::before {
  content: "";
  position: absolute;
  bottom: 6%;
  left: -6%;
  background-image: url("./assets/images/png/pricingplan_giggaz_bottom.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 451px;
  height: 226px;
  z-index: -1;
}
/* testimonial section  */
.divider_line {
  width: 2px;
  height: 40px;
  transform: rotate(10deg);
  background-color: #e5eaf4;
}
/* basic feature section  */
.feature_card_box {
  border-radius: 10px;
  background: #18181f;
  padding: 20px;
}
