/* nav */
.z_10 {
    z-index: 10;
}

.lh_normal {
    line-height: normal;
}

.me_40 {
    margin-right: 40px;
}

.ms_8 {
    margin-left: 8px;
}

.login_btn {
    padding: 18px 40px;
    background: #1d1d27;
    box-shadow: 0px 25px 43px 0px rgba(10, 131, 247, 0.25);
}

.ms_20 {
    margin-left: 20px;
}

.login_btn_open {
    padding: 18px 40px;
    background: #206dfd;
}

.me_10 {
    margin-right: 10px;
}

/* hero */
.hero_bg {
    background-image: url(../src/assets/images/webp/hero_bg.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.pt_64 {
    padding-top: 64px;
}

.p_45_30 {
    padding: 45px 30px;
}

.hosting_box_hero {
    height: 12px;
    width: 12px;
}

.letter_s4 {
    letter-spacing: 4px;
}

.lh_70 {
    line-height: 70px;
}

.mt_31 {
    margin-top: 31px;
}

.lh_33px {
    line-height: 33px;
}

.view_hero_circle {
    height: 55px;
    width: 55px;
}

.view_transform {
    transform: translateX(-30px);
}

.ms_10 {
    margin-left: 10px;
}

.letter_s2 {
    letter-spacing: 2px;
}

.rotate_90 {
    transform: rotate(90deg);
}

.pb_200 {
    padding-bottom: 200px;
}

.product_nav {
    background-image: url(../src/assets/images/webp/productbg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.product_img_nav {
    top: 23%;
    max-width: 534px;
    height: 378px;
    left: 0;
}

.mx_500 {
    max-width: 500px;
}

.pointer {
    cursor: pointer;
}

.backtotop_btn {
    cursor: pointer;
    background-color: var(--clr-blue2F7);
    border-radius: 5px;
    animation: topanimation 4s linear infinite;
}

.product_hero_img {
    transform: translateX(-50%);
}

@keyframes topanimation {
    0% {
        transform: rotate(-90deg) translateX(0%) scale(0.9);
    }

    50% {
        transform: rotate(-90deg) translateX(30%) scale(1.1);
    }

    100% {
        transform: rotate(-90deg) translateX(0%) scale(0.9);
    }
}

.hover_line:hover::after {
    width: 100%;
    left: 0;
}

.hover_line::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background: var(--clr-whiteFB);
    bottom: -6px;
    left: 50%;
    transition: 0.6s ease-in-out;
}

.letter_s3 {
    letter-spacing: 3px;
}

.mt_-50 {
    margin-top: -50px !important;
}

.h_1100 {
    height: 1100px;
}

.mx_1920 {
    width: 1920px;
}

.background_size {
    background-size: 100% 100%;
}

.hover_card_line::before {
    content: '';
    background: var(--clr-blue2F7);
    width: 50%;
    height: 100%;
    left: -145%;
    top: 0%;
    opacity: 0.2;
    transform: skew(45deg);
    position: absolute;
    transition: left .6s ease-in-out;
}

.hover_card_line:hover::before {
    left: 250%;
}

.hover_card_line:hover,
.hover_card_line:active {
    color: #fff;
    box-shadow: 0px -1px 10px 0 var(--clr-blue2F7);
}

.bg_popular_button {
    transition: 0.4s linear;
}

.border_official_button {
    transition: 0.4s linear;
}

.border_official_button:hover {
    background: linear-gradient(27deg, rgba(0, 63, 243, 0.8) 0%, rgba(48, 156, 255, 0.8) 100%), #2898ff;
}

.bg_popular_button:hover {
    border: 1px solid rgba(14, 75, 254, 0.55) !important;
    background: transparent;
}

@media (min-width: 1200px) and (max-width: 1920px) {
    .min-vh-100-custom {
        min-height: 100vh;
    }
}

@media (max-width: 1920px) {
    .hero_bg {
        background-size: cover;
    }
}

@media (max-width:1400px) {
    .mt_10_xxl {
        margin-top: 10px !important;
    }
}

@media (max-width: 1200px) {
    .nav_show {
        position: fixed;
        opacity: 0;
        background-color: transparent;
        transition: all 0.6s linear;
        right: 0%;
        width: 500px;
        align-items: end;
        justify-content: center;
        flex-direction: column;
        z-index: -4;
        clip-path: circle(0px at calc(100% - 45px) 45px);
        top: 0;
        z-index: 20;
    }

    .nav_show.showw {
        opacity: 10;
        position: fixed;
        top: 0;
        min-height: 50%;
        z-index: 6;
        clip-path: circle(75%);
        background-color: black !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #111116 !important;
        border-radius: 20px;
    }

    .fb_img svg path:first-child {
        fill: #000000;
    }

    .py_30_xl {
        padding: 30px 0;
    }

    .my_15_xl {
        margin: 15px 0;
    }

    .product_hero_img {
        transform: translateX(0%);
    }

    .my_15_xl {
        margin: 15px 0;
    }

    .body_stop {
        overflow: hidden;
        height: 100vh;
    }

    .location_img_bottom {
        bottom: -140px;
        left: 2%;
        max-width: 290px;
    }
}

@media (min-width: 992px) {
    .h_970_lg {
        height: 970px;
    }
}

@media (max-width: 992px) {
    .pb_300_lg {
        padding-bottom: 300px;
    }

    .pt_12_lg {
        padding-top: 12px;
    }

    .pt_28_lg {
        padding-top: 28px;
    }

    .mt_10_lg {
        margin-top: 10px;
    }

    .pt_48_lg {
        padding-top: 48px;
    }

    .mx_865_lg {
        max-width: 865px;
    }
}

@media (max-width:768px) {
    .hover_box_pricing:hover {
        transform: translateY(0px);
    }

    .mt_-50_md {
        margin-top: -50px;
    }

    .mt_-100_md {
        margin-top: -100px !important;
    }
}

@media (max-width: 576px) {
    .hero_bg {
        background-size: cover;
    }

    .h_300_xsm {
        height: 300px;
    }

    .nav_show {
        width: 100%;
    }

    .mw_50_xsm {
        max-width: 50px !important;
    }

    .transform_top_location {
        transform: translateY(0px) !important;
    }

    .bg_img_our_location {
        background-image: url(../src/assets/images/webp/mobile_map.webp);
    }

    .top_bottom_zigzag_img::after {
        display: none;
    }

    .top_bottom_zigzag_img::before {
        display: none;
    }

    .nav_show {
        width: 100%;
    }

    .mw_50_xsm {
        max-width: 50px !important;
    }

    .increased-width {
        width: 150px !important;
    }

    .pb_9_xsm {
        padding-bottom: 9px !important;
    }

    .pb_0_xsm {
        padding-bottom: 0 !important;
    }

    .pt_0_xsm {
        padding-top: 0 !important;
    }

    .sumbit_button_placeholder {

        padding: 10px 15px;
    }

    .mt_sm_28 {
        margin-top: 28px !important;
    }

    .py_25_xsm {
        padding: 25px 0 !important;
    }

    .pt_9_xsm {
        padding-top: 9px !important;
    }

    .mt_17_xsm {
        margin-top: 17px !important;
    }

    .mt_-10_xsm {
        margin-top: -10px !important;
    }

    .pt_21_xsm {
        padding-top: 21px !important;
    }

    .pt_10_xsm {
        padding-top: 10px !important;
    }

    .pt_23_xsm {
        padding-top: 23px !important;
    }
}