/* nav */
.z_10 {
    z-index: 10;
}

.lh_normal {
    line-height: normal;
}

.me_40 {
    margin-right: 40px;
}

.ms_8 {
    margin-left: 8px;
}

.login_btn {
    padding: 18px 40px;
    background: #1D1D27;
    box-shadow: 0px 25px 43px 0px rgba(10, 131, 247, 0.25);
}

.ms_20 {
    margin-left: 20px;
}

.login_btn_open {
    padding: 18px 40px;
    background: #206DFD;
}

.me_10 {
    margin-right: 10px;
}

/* hero */
.hero_bg {
    background-image: url(../src/assets/images/webp/hero_bg.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.pt_64 {
    padding-top: 64px;
}

.p_45_30 {
    padding: 45px 30px;
}

.hosting_box_hero {
    height: 12px;
    width: 12px;
}

.letter_s4 {
    letter-spacing: 4px;
}

.lh_70 {
    line-height: 70px;
}

.mt_31 {
    margin-top: 31px;
}

.lh_33px {
    line-height: 33px;
}

.view_hero_circle {
    height: 55px;
    width: 55px;
}

.view_transform {
    transform: translateX(-30px);
}

.ms_10 {
    margin-left: 10px;
}

.letter_s2 {
    letter-spacing: 2px;
}

.rotate_90 {
    transform: rotate(90deg);
}

.pb_200 {
    padding-bottom: 200px;
}

.overflow_hidden {
    overflow: hidden !important;
}

@media (min-width:1200px) and (max-width:1920px) {
    .min-vh-100-custom {
        min-height: 100vh;
    }
}

@media (max-width:1920px) {
    .hero_bg {
        background-size: cover;
    }
}

@media (max-width: 1200px) {
    .nav_show {
        position: fixed;
        opacity: 0;
        background-color: transparent;
        transition: all 0.6s linear;
        right: 0%;
        width: 500px;
        align-items: end;
        justify-content: center;
        flex-direction: column;
        z-index: -4;
        clip-path: circle(0px at calc(100% - 45px) 45px);
        top: 0;
        z-index: 20;
    }

    .nav_show.showw {
        opacity: 10;
        position: fixed;
        top: 0;
        min-height: 50%;
        z-index: 6;
        clip-path: circle(75%);
        background-color: black !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #111116 !important;
    }

    .fb_img svg path:first-child {
        fill: #000000;
    }

    .py_30_xl {
        padding: 30px 0;
    }
    .my_15_xl{
        margin: 15px 0;
    }
}

@media (min-width:992px) {
    .h_1200_lg {
        height: 1200px;
    }
}

@media (max-width:992px) {
    .pb_300_lg {
        padding-bottom: 300px;
    }

    .pt_12_lg {
        padding-top: 12px;
    }

    .pt_28_lg {
        padding-top: 28px;
    }

    .mt_10_lg {
        margin-top: 10px;
    }

    .pt_48_lg {
        padding-top: 48px;
    }
}

@media (max-width:576px) {
    .hero_bg {
        background-size: cover;
    }

    .h_300_xsm {
        height: 300px;
    }
    .nav_show{
        width: 100%;
    }
}